<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">
  
  <!-- for version 1.0 - 1.3 -->
  <servlet>
    <servlet-name> commitcombo-mini </servlet-name>
    <jsp-file> /Application/Controller/commitcombo.jsp </jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name> commitcombo-mini </servlet-name>
    <url-pattern> /combo-mini </url-pattern>
  </servlet-mapping>
  <!-- for version 1.0 - 1.3 -->
  
  <servlet>
    <servlet-name> commitcombo </servlet-name>
    <jsp-file> /Application/Controller/commitcombo.jsp </jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name> commitcombo </servlet-name>
    <url-pattern> /get </url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name> minitheme </servlet-name>
    <jsp-file> /Application/Viewer/minitheme.jsp </jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name> minitheme </servlet-name>
    <url-pattern> /minitheme </url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name> minitheme-v2 </servlet-name>
    <jsp-file> /Application/Viewer/minithemeV2.jsp </jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name> minitheme-v2 </servlet-name>
    <url-pattern> /minitheme-v2 </url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>calendartheme</servlet-name>
    <jsp-file>/Application/Viewer/calendartheme.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calendartheme</servlet-name>
    <url-pattern>/calendartheme</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name> commitcombo-main </servlet-name>
    <jsp-file> /Application/ETC/main.jsp </jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name> commitcombo-main </servlet-name>
    <url-pattern> </url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name> commitcombo-maker </servlet-name>
    <jsp-file> /Application/Maker/commitcombo-maker.jsp </jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name> commitcombo-maker </servlet-name>
    <url-pattern> /maker </url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name> select-theme </servlet-name>
    <jsp-file> /Application/Maker/selectTheme.jsp </jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name> select-theme </servlet-name>
    <url-pattern> /selecttheme </url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name> display-userURL </servlet-name>
    <jsp-file> /Application/Maker/displayUserURL.jsp </jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name> display-userURL </servlet-name>
    <url-pattern> /displayURL </url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name> logo </servlet-name>
    <jsp-file> /Application/ETC/logo.jsp </jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name> logo </servlet-name>
    <url-pattern> /logo </url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name> serverClock </servlet-name>
    <jsp-file> /Application/ETC/serverClock.jsp </jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name> serverClock </servlet-name>
    <url-pattern> /serverClock </url-pattern>
  </servlet-mapping>
</web-app>
